body {
    font-family: 'Lato', 'sans-serif';
    margin: 0px;
    padding: 0px;
}


/* NAVIGATION BAR STYLES*/
nav {
    background-color: #F8F2ED;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar p {
    font-size: 20px;
    font-weight: 6000;
    color: #D96971;
    cursor: pointer;
    text-decoration: solid underline #ff0011;
}

.navBar p:hover {
    color: #ff0011;
    font-weight: 900;
}

/*  To adjust the style of the input field*/
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 12px 20px;
    width: 600px;
    border-radius: 10px;
}

.search:hover {
    border: 2px solid #D96971;
}

.searchInput {
    font-size: large;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
}

.searchInput::placeholder {
    font-size: 18px;
}

.searchIcon {
    cursor: pointer;
}

/*  HEADER STYLES*/
.header {
    background-color: #D96971;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #F8F2ED;
    cursor: pointer;
    padding: 0px 12px;
    margin-right: 40px;
}

.header p:hover {
    border-bottom: 2px solid #ff0011;
}

.slogan {
    background-color: #D96971;
    font-style: italic;
    font-stretch: ultra-expanded;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slogan {
    font-weight: bold;
    color: #F8F2ED;
}

#slogan:hover {
    cursor: not-allowed;
}

/*  SLIDER SECTION STYLES*/
.slider {
    background-image: url(Images/BG-2.png);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slideTitle {
    position: absolute;
    top: 13%;
    left: 5%;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #D96971;
}

.buyNow {
    position: absolute;
    top: 60%;
    right: 8%;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    color: #D96971;
    border: 12px solid #ffffff;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #949494;
}

.buyNow:hover {
    font-weight: 700;
    cursor: pointer;
}

hr {
    width: 60%;
    border: 1px solid #cfcfcf;
    margin: auto;
}

/*  FEATURES SECTION IMPLEMENTATION*/
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.featureIcon {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: #6d6d6d;
    width: 70%;
    height: 100px;
}

/*  FOOTER TAG CUSTOMIZATION*/
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F2ED;
    padding: 20px 0px;
}

#socials {
    font-size: 14px;
    font-weight: 400;
    color: #553327;
    padding: 0px 6px;
}

